<div class="offset-2">

  <div class="row mt-4">
    <mark class="h4 table-secondary">注文履歴詳細</mark>
  </div>

  <div class="row">
    <div class="col-6">
        <strong>注文情報</strong>
    <table class="table table-bordered">
      <thead>
        <tr>
         <td class="table-secondary">購入者</td>
         <td><%= @customer.first_name %> <%= @customer.last_name %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
         <td class="table-secondary">注文日</td>
         <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
         <td class="table-secondary">配送先</td>
         <td>
           〒<%= @order.zip_code %><br>
    		   <%= @order.address %><br>
    		   <%= @order.name %><br>
         </td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td><%= @order.payment_i18n %></td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
            <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


    <div class="col-4">
      <strong>請求情報</strong>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td class="table-secondary">商品合計</td>
            <td> <%= @order.billing - @order.postage  %>  </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-secondary">配送料</td>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th class="table-secondary">ご請求額</th>
            <td><%= @order.billing %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row col-9">
    <strong>注文内容</strong>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="table-secondary">商品</td>
          <td class="table-secondary">単価（税込）</td>
          <td class="table-secondary">個数</td>
          <td class="table-secondary">小計</td>
          <td class="table-secondary">製作ステータス</td>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.item.name %></td>
          <td><%= order_item.price_tax_included %></td>
          <td><%= order_item.count%></td>
          <td><%= order_item.price_tax_included * order_item.count %></td>
          <td>
            <%= form_with model: order_item, url: admin_ordered_item_path(order_item), method: :patch do |f| %>
            <%= f.select :status, OrderedItem.statuses_i18n.keys.map {|k| [I18n.t("enums.ordered_item.status.#{k}"), k]} %>
            <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
    </tbody>
    <% end %>
   </table>
  </div>
</div>