<div class="offset-2">
  
  <div class="row mt-4">
    <mark class="h4 table-secondary">注文履歴詳細</mark>
  </div>
  
  <table class="table table-borderless">
    <thead>
        <tr>
          <th><strong>購入者</strong></th>
          <th>
          <%= link_to admin_customer_path(@customer) do %>
          <%= @customer.first_name %><%= @customer.last_name %>
          <% end %>
          </th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <th><strong>注文日</strong></th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th><strong>配送先</strong></th>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <th><strong>支払方法</strong></th>
          <td><%= @order.payment %></td>

        </tr>
        <tr>
          <th><strong>注文ステータス</strong></th>
          <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
            <%= f.select :status, Order.keys, class: "status" %>
            <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
    </tbody>
      <% end %>
  </table>

  
</div>
