<div class="container">

  <div class="row mt-4">
    <mark class="h4 table-secondary">ジャンル一覧追加</mark>
  </div>

<%# ジャンル追加機能　%>
  <div class="row">
    <%= form_with model: Category.new, url: admin_categories_path, method: :post do |f| %>
      <table class="table col-sm-7 table-borderless">
        <tr>
            <td>ジャンル名</td>
            <td><%= f.text_field :category %></td>
            <td><%= f.submit '新規投稿', class: "btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>

<%# ジャンル一覧編集機能　%>
  <div class="row">
    <table class="table table-light table-bordered">
      <thead class="thead-light"></thead>
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <th><%= category.category %></th>
            <th><%= link_to "編集する", edit_admin_category_path(category.id), class: "btn btn-success" %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>